<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Note</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <script>
        function insertMarkdownTag(tag) {
            var textarea = document.getElementById('content');
            var start = textarea.selectionStart;
            var end = textarea.selectionEnd;
            var selectedText = textarea.value.substring(start, end);
            var replacement = tag + selectedText + tag;
            textarea.value =
                textarea.value.substring(0, start) +
                replacement +
                textarea.value.substring(end, textarea.value.length);
        }

    </script>

</head>

<body>
<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Create New Note</h1>
        </div>
    </div>
    <form th:action="@{/notes/create}" method="post" th:object="${note}">
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <span th:text=${error}></span>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Name (5 to 100 characters)"
                   th:field="*{name}"/>
        </div>
        <div class="mb-3">
            <label for="keyWords" class="form-label">keyWords</label>
            <input type="text" class="form-control"
                   placeholder="Key words of the note, listed separated by commas. String, 5 to 50 characters inclusive"
                   id="keyWords" name="keyWords" th:field="*{keyWords}"/><br/>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Content:</label>
            <div class="mb-3">
                <button type="button" class="btn btn-secondary"
                        onclick="insertMarkdownTag('**')">Bold</button>
                <button type="button" class="btn btn-secondary"
                        onclick="insertMarkdownTag('*')">Italic</button>
                <button type="button" class="btn btn-secondary"
                        onclick="insertMarkdownTag('[', '](URL)')">Link</button>
            </div>
            <textarea class="form-control" id="content" name="content"
                      placeholder="Content (5 to 10,000 characters)"
                      rows="20" th:field="*{content}"></textarea>
        </div>

        <div class="mb-3">
            <label for="noteType" class="form-label">Access Type:</label>
            <select class="form-select" id="noteType" name="noteType" th:field="*{noteType}">
                <option value="PUBLIC">PUBLIC</option>
                <option value="PRIVATE">PRIVATE</option>
            </select>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/notes/my" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
