<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<span th:text="${error}"></span>
<h1>Admin Page</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Enabled</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.getRole()}"></td>
        <td>
            <form th:action="@{/admin/change-role}" method="post">
                <input type="hidden" name="username" th:value="${user.getUsername()}"/>
                <select name="role">
                    <option th:selected="${user.getRole() == 'USER'}" value="USER">USER</option>
                    <option th:selected="${user.getRole() == 'ADMIN'}" value="ADMIN">ADMIN</option>
                </select>
                <button type="submit">Изменить</button>
            </form>
        </td>
        <td th:text="${user.enabled}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
