<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<h1>Зміна паролю</h1>
<span th:text ="${error}"></span>
<form th:action="@{/profile/changePassword}" method="post">
    <input type="hidden" name="username" th:value="${username}"/>
    <label for="oldPassword">Старий пароль:</label>
    <input type="password" id="oldPassword" name="oldPassword"/>
    <br>
    <label for="newPassword">Новий пароль:</label>
    <input type="password" id="newPassword" name="newPassword"/>
    <br>
    <label for="confirmPassword">Введіть новий пароль ще раз:</label>
    <input type="password" id="confirmPassword" name="confirmPassword"/>
    <br>
    <button type="submit">Зберегти</button>
</form>
<br>
<form th:action="@{/profile/}" method="get">
    <input type="hidden" name="username" th:value="${username}"/>
    <button type="submit">Назад до профілю</button>
</form>
</body>
</html>
