<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My notes</title>
    <!-- Подключение стилей Bootstrap через CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>My notes - <span th:text="${notes.size()}">3</span> pcs</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Content</th>
            <th>Note Type</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note : ${notes}">
            <td th:text="${note.name}"></td>
            <td th:text="${note.content}"></td>
            <td th:text="${note.noteType}"></td>
            <td>
                <a th:href="@{/mynote?id=${note.id}}" class="btn btn-primary">Edit</a>
                <form th:action="@{/mynote/delete}" method="post" style="display: inline">
                    <input type="hidden" name="id" th:value="${note.id}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <a th:href="@{/mynote?id=${note.id}}" class="btn btn-secondary">Copy link</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Подключение скриптов Bootstrap через CDN -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
