<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Messages</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>My Dialogs</h1>
            <table class="table mt-3">
                <thead>
                <tr>
                    <th class="col-3">Name</th>
                    <th class="col-9">Message</th>
                    <th class="col-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contact : ${contacts}">
                    <td th:text="${contact.getKey()}"></td>
                    <td th:text="${contact.getValue()[0].getContent()}"></td>
                    <td>
                        <a class="btn btn-primary float-end" th:href="@{/message/dialog(name=${contact})}">Read</a>
                    </td>
                </tr>
                </tbody>
            </table>
</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
